<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DbManagSys" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\aMyFiles\Git\LABS\5 Sem\DbManagmentSystem\ProjectFiles\WPFapp1\DbManagmentSystem.mdf;Integrated Security=True"/>
	</connectionStrings>
</configuration>